{% extends 'base/base.html' %}
{% block page_content %}

    <!--Details Page-->
    <section id="detailsPage">
        <div class="wrapper">
            <div class="profilePage">
                {% if profile.picture %}
                    <img src="{{ profile.picture }}"
                         alt="Profile Image">
                {% else %}
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                         alt="Profile Image">
                {% endif %}
            </div>

            <div class="profile-grid-info">
                <div class="profileTextLabel">First Name:</div>
                <div class="profileTextInfo">{{ profile.first_name }}</div>
                <div class="profileTextLabel">Last Name:</div>
                <div class="profileTextInfo">{{ profile.last_name }}</div>
                <div class="profileTextLabel">Email:</div>
                <div class="profileTextInfo">{{ profile.email }}</div>
                <div class="profileTextLabel">Age:</div>
                <div class="profileTextInfo">{{ profile.age }}</div>
                <div class="profileTextLabel">Date Joined:</div>
                <div class="profileTextInfo">{{ profile.date_joined_the_team }}</div>
                <div class="profileTextLabel">Skill:</div>
                <div class="profileTextInfo">{{ profile.professional_skill }}</div>
                <div class="profileTextLabel">Gender:</div>
                <div class="profileTextInfo">{{ profile.gender }}</div>
            </div>
            <div style="text-align: center; font-size: 30px; font-weight: bolder; color: white; margin-top: 30px; margin-bottom: 20px">
                Statistics:
            </div>
            <div class="profile-grid-statistics">
                <div class="grid-item">
                    Completed Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ completed_tasks }}
                </div>
                <div class="grid-item">
                    Easy Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ easy_tasks_finished }}
                </div>
                <div class="grid-item">
                     Not Completed Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ unfinished_tasks }}
                </div>
                <div class="grid-item">
                    Medium Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ medium_tasks_finished }}
                </div>

                <div class="grid-item">
                    Total Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ total_tasks }}
                </div>
                <div class="grid-item">
                    Hard Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ hard_tasks_finished }}
                </div>
                <div class="grid-item">
                    Finish Rate:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ finish_rate }}%
                </div>
                <div class="grid-item">
                    Advanced Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    {{ advanced_tasks_finished }}
                </div>
            </div>

        </div>

        </div>
    </section>


{% endblock %}