{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>ATP Team Manager</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<div id="box">

    <!-- Navigation Bar -->
    <header>
        <nav>
            <img src="{% static 'images/logo_atp.png' %}" alt="ATP logo">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'show team' %}">Team</a>



            {% if request.user.is_authenticated %}

                <a href="{% url 'show running tasks' %}">Running Tasks</a>
                <a href="{% url 'show available tasks' %}">Available Tasks</a>
                <a href="{% url 'show history' %}">History</a>

            {% endif %}

            {% if request.user.is_authenticated and request.user.is_staff %}

                <a href="{% url 'add a task' %}">Add Task</a>
                <a href="{% url 'add a profile' %}">Add Member</a>
                <a href="{% url 'delete a profile' %}">Delete Member</a>

            {% endif %}


            {#                    <li><a href="{% url 'suggest a task' %}">Suggest a Tasks</a></li>#}

            {#            <a href="{% url 'show closed tasks' %}">Closed Tasks</a>#}


            {#            <a href="{% url 'show my tasks' 1 %}">My Tasks</a>#}


            <ul></ul>
            <ul>


                {% if request.user.is_authenticated %}

                    <li><a href="{% url 'logout user' %}">Log Out</a></li>
                    <li><a href="{% url 'profile details' request.user.id %}">Profile</a></li>

                {% endif %}

            </ul>
        </nav>
    </header>
    <!-- End Navigation Bar -->

    {% block page_content %}

        <!-- Main Content -->

    {% endblock %}

    <!-- Footer -->
    <footer>
        <div>
            &copy;Automation and Technology Team 2022. Design by Plamen Ivanov. All rights reserved!
        </div>
    </footer>
    <!-- End Footer -->

</div>
</body>
</html>