{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <!--Details Page-->

    <div class="list-card-box" style="max-width: 70rem;">
        <div class="task-info">


            <div class="task-label">Title:</div>
            <div class="task-content"> Production line design. Production line design.</div>

            <div class="task-label">Categories:</div>
            <div class="task-content">Automation</div>

            <div class="task-label">Difficulty:</div>
            <div class="task-content">5</div>

            <div class="task-label">Time left:</div>
            <div class="task-content">3 hours</div>

            <div class="task-label">People involved:</div>
            <div class="task-content">Plamen Ivanov</div>


        </div>
        <div>
            <img class="task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

        </div>
        <div class="card-body">
            <div class="task-label">Description:</div>
            <div class="task-content">Some quick example text to build on the card title and make up the bulk of the
                card's
                content. Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>

        </div>
        <div class="task-navbar">
            <div class="task-navbar">
                <div class="btn-group-task ">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Get The Task</a>
                </div>
{#                <div>If admin:</div>#}
                <div class="btn-group-task">
                    <a href="" class="edit">Delete The Task</a>
                </div>
                <div class="btn-group-task">
                    <a href="" class="edit">Edit The Task</a>
                </div>
            </div>
        </div>

    </div>


    <div class="list-card-box" style="max-width: 80rem;">
        <div class="task-info">


            <div class="task-label">Title:</div>
            <div class="task-content"> Production line design. Production line design.</div>

            <div class="task-label">Categories:</div>
            <div class="task-content">Automation</div>

            <div class="task-label">Difficulty:</div>
            <div class="task-content">5</div>

            <div class="task-label">Time left:</div>
            <div class="task-content">3 hours</div>

            <div class="task-label">People involved:</div>
            <div class="task-content">Plamen Ivanov</div>


        </div>
        <div>
            <img class="task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

        </div>
        <div class="card-body">
            <div class="task-label">Description:</div>
            <div class="task-content">Some quick example text to build on the card title and make up the bulk of the
                card's
                content. Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>

        </div>
        <div class="task-navbar">
            <div class="task-navbar">
                <div class="btn-group-task ">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Get The Task</a>
                </div>
                <div>If admin:</div>
                <div class="btn-group-task">
                    <a href="" class="edit">Delete The Task</a>
                </div>
                <div class="btn-group-task">
                    <a href="" class="edit">Edit The Task</a>
                </div>
            </div>
        </div>

    </div>


    <div class="list-card-box" style="max-width: 80rem;">
        <div class="task-info">


            <div class="task-label">Title:</div>
            <div class="task-content"> Production line design. Production line design.</div>

            <div class="task-label">Categories:</div>
            <div class="task-content">Automation</div>

            <div class="task-label">Difficulty:</div>
            <div class="task-content">5</div>

            <div class="task-label">Time left:</div>
            <div class="task-content">3 hours</div>

            <div class="task-label">People involved:</div>
            <div class="task-content">Plamen Ivanov</div>


        </div>
        <div>
            <img class="task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

        </div>
        <div class="card-body">
            <div class="task-label">Description:</div>
            <div class="task-content">Some quick example text to build on the card title and make up the bulk of the
                card's
                content. Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>

        </div>
        <div class="task-navbar">
            <div class="task-navbar">
                <div class="btn-group-task ">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Get The Task</a>
                </div>
                <div>If admin:</div>
                <div class="btn-group-task">
                    <a href="" class="edit">Delete The Task</a>
                </div>
                <div class="btn-group-task">
                    <a href="" class="edit">Edit The Task</a>
                </div>
            </div>
        </div>

    </div>




{% endblock %}