{% extends 'base/base.html' %}
{% block page_content %}

    <!--Edit Page-->
    <section class="editPage">
        <form method="POST" action="{% url 'edit a task' task.pk %}" enctype="multipart/form-data">
            <fieldset>
                <legend>Edit Task</legend>
                <div class="container">

                    <!-- Form for Editing Album -->

                    {{ form }}
                    {% csrf_token %}

                    <!-- Button for Editing Album -->
                    <button class="edit-task" type="submit">Edit Task</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}