{% extends 'base/base.html' %}
{% block page_content %}

    <!--Create Page-->
    <section class="createPage">

        <form method="POST" action="{% url 'suggest a task' %}" enctype="multipart/form-data">
            <fieldset>
                <legend>Suggest Task</legend>
                <div class="container">

                    {{ form }}
                    {% csrf_token %}

                    <!-- Button for Adding Album -->
                    <button class="add-task" type="submit">Suggest</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}
