{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <section id="detailsPage">

        <div class="wrapper-team-members">

            <div style="text-align: center; font-size: 30px; font-weight: bolder; color: white; margin-top: 30px; margin-bottom: 20px">
                Team Members:
            </div>



            <div class="team-grid-info">
                <div class="team-page-category">
                    Automation
                </div>
                <div>
                    {% if web_settings.automation_engineering_image %}
                        <img class="team-page-Img" src="{{ web_settings.automation_engineering_image }}"
                             alt="Automation Engineering image">
                    {% else %}
                        <img class="team-page-Img" src="{% static 'images/wp3610487.jpg' %}"
                             alt="Automation Engineering image">
                    {% endif %}
                </div>
                <div class="team-page-members">
                    {% if automation_members_count == 1 %}
                        {{ automation_members_count }} member
                    {% elif automation_members_count == 0 %}
                        -
                    {% else %}
                        {{ automation_members_count }} member
                    {% endif %}

                </div>
                <div class="team-page-members">

                    {{ automation_members }}

                </div>

            </div>



            <div class="team-grid-info">
                <div class="team-page-category">
                    Mechanical
                </div>

                <div>
                    {% if web_settings.mechanical_engineering_image %}
                        <img class="team-page-Img" src="{{ web_settings.mechanical_engineering_image }}"
                             alt="Mechanical Engineering image">
                    {% else %}
                        <img class="team-page-Img" src="{% static 'images/eng-2.png' %}"
                             alt="Mechanical Engineering image">
                    {% endif %}

                </div>
                <div class="team-page-members">
                    {% if mechanical_members_count == 1 %}
                        {{ mechanical_members_count }} member
                    {% elif mechanical_members_count == 0 %}
                        -
                    {% else %}
                        {{ mechanical_members_count }} members
                    {% endif %}
                </div>
                <div class="team-page-members">

                    {{ mechanical_members }}

                </div>

            </div>


            <div class="team-grid-info">
                <div class="team-page-category">
                    Electrical
                </div>
                <div>
                    {% if web_settings.electrical_engineering_image %}
                        <img class="team-page-Img" src="{{ web_settings.electrical_engineering_image }}"
                             alt="Electrical Engineering image">
                    {% else %}
                        <img class="team-page-Img" src="{% static 'images/546188.jpg' %}"
                             alt="Electrical Engineering image">
                    {% endif %}


                </div>
                <div class="team-page-members">
                    {% if electrical_members_count == 1 %}
                        {{ electrical_members_count }} member
                    {% elif electrical_members_count == 0 %}
                        -
                    {% else %}
                        {{ electrical_members_count }} members
                    {% endif %}
                </div>
                <div class="team-page-members">

                    {{ electrical_members }}

                </div>

            </div>


            <div class="team-grid-info">
                <div class="team-page-category">
                    Graphics & Design
                </div>
                <div>

                    {% if web_settings.graphics_and_design_engineering_image %}
                        <img class="team-page-Img" src="{{ web_settings.graphics_and_design_image }}"
                             alt="Graphics and Design image">
                    {% else %}
                        <img class="team-page-Img"
                             src="{% static 'images/design-line-graphic-design-graphics-wallpaper-preview.jpg' %}"
                             alt="Graphics and Design image">
                    {% endif %}


                </div>
                <div class="team-page-members">

                    {% if graphics_and_design_members_count == 1 %}
                        {{ graphics_and_design_members_count }} member
                    {% elif graphics_and_design_members_count == 0 %}
                       -
                    {% else %}
                        {{ graphics_and_design_members_count }} members
                    {% endif %}
                </div>
                <div class="team-page-members">

                    {{ graphics_and_design_members }}

                </div>

            </div>


            <div class="team-grid-info">
                <div class="team-page-category">
                    Operational
                </div>
                <div>

                    {% if web_settings.operational_technologist_image %}
                        <img class="team-page-Img" src="{{ web_settings.operational_technologist_image }}"
                             alt="Operational Technology image">
                    {% else %}
                        <img class="team-page-Img" src="{% static 'images/1880092.jpg' %}"
                             alt="Operational Technology image">
                    {% endif %}

                </div>
                <div class="team-page-members">


                    {% if operational_technologist_members_count == 1 %}
                        {{ operational_technologist_members_count }} member
                    {% elif operational_technologist_members_count == 0 %}
                        -
                    {% else %}
                        {{ operational_technologist_members_count }} members
                    {% endif %}
                </div>
                <div class="team-page-members">

                    {{ operational_technologist_members }}

                </div>

            </div>


        </div>

        {#        statistcs #}

        <div class="wrapper-team-statistics">
            <div style="text-align: center; font-size: 30px; font-weight: bolder; color: white; margin-top: 30px; margin-bottom: 20px">
                Statistics:
            </div>

            <div class="team-grid-statistics">
                <div class="profileTextLabel">
                    Automation
                </div>
                <div class="profileTextInfo">
                    {{ team.automation_tasks }}
                </div>

                <div class="profileTextLabel">
                    Graphics & Design
                </div>
                <div class="profileTextInfo">
                    16
                </div>


                <div class="profileTextLabel">
                    Electrical
                </div>
                <div class="profileTextInfo">
                    18
                </div>

                <div class="profileTextLabel">
                    Mechanical:
                </div>
                <div class="profileTextInfo">
                    20
                </div>

                <div class="profileTextLabel">
                    Operational
                </div>
                <div class="profileTextInfo">
                    38
                </div>

                <div class="profileTextLabel">
                    Completed
                </div>
                <div class="profileTextInfo">
                    100
                </div>


                <div class="profileTextLabel">
                    Outstanding:
                </div>
                <div class="profileTextInfo">
                    5
                </div>
                <div class="profileTextLabel">
                    Active Now
                </div>
                <div class="profileTextInfo">
                    20
                </div>
            </div>
        </div>


    </section>

{% endblock %}