{% extends 'base/base.html' %}
{% block page_content %}

    <!--Details Page-->
    <section id="detailsPage">
        <div class="wrapper">
            <div class="profilePage">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                     alt="Profile Image">
            </div>

            {#            <div class="profileText">#}
            {#                <!-- Profile Info -->#}
            {#                <h1><u>First Name</u>:</h1>#}
            {#                <h2>  Plamen: </h2>#}
            {##}
            {#                <h1><u>Last Name</u>: Ivanov</h1>#}
            {#                <h1><u>Email</u>: omegata_@abv.bg</h1>#}
            {#                <h1><u>Age</u>: 29</h1>#}
            {#                <h1><u>Skill Sets</u>: Mechanical Engineering</h1>#}
            {#                <h1><u>Date joined the team</u>:<style> </style>17.11.2016</h1>#}
            <div class="profile-grid-info">
                <div class="profileTextLabel">First Name:</div>
                <div class="profileTextInfo">Plamen</div>
                <div class="profileTextLabel">Last Name:</div>
                <div class="profileTextInfo">Ivanov</div>
                <div class="profileTextLabel">Email:</div>
                <div class="profileTextInfo">plamen.ivanov@atp-bg.com</div>
                <div class="profileTextLabel">Age:</div>
                <div class="profileTextInfo">29</div>
                <div class="profileTextLabel">Date Joined:</div>
                <div class="profileTextInfo">17.11.2016</div>
                <div class="profileTextLabel">Skill:</div>
                <div class="profileTextInfo">Mechanical Engineering</div>

            </div>
            <div style="text-align: center; font-size: 30px; font-weight: bolder; color: white; margin-top: 30px; margin-bottom: 20px">
                Statistics:
            </div>
            <div class="profile-grid-statistics">
                <div class="grid-item">
                    Tasks Completed:
                </div>
                <div class="grid-item" style="color: tan">
                    50
                </div>
                <div class="grid-item">
                    Rank 1 Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    30
                </div>
                <div class="grid-item">
                    Tasks Not Completed:
                </div>
                <div class="grid-item" style="color: tan">
                    3
                </div>
                <div class="grid-item">
                    Rank 2 Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    15
                </div>

                <div class="grid-item">
                    Total Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    53
                </div>
                <div class="grid-item">
                    Rank 3 Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    5
                </div>
                <div class="grid-item">
                    Finish Rate:
                </div>
                <div class="grid-item" style="color: tan">
                    86.56%
                </div>
                <div class="grid-item">
                    Rank 4 Tasks:
                </div>
                <div class="grid-item" style="color: tan">
                    0
                </div>
            </div>

        </div>

        </div>
    </section>


{% endblock %}