{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <section id="detailsPage">

        <div class="wrapper-atp">

            <div class="atp-message">
{#                {put message here}#}
                This is ATP team manage site. ONLY AUTHORIZED people have access. For any questions and proposals,
                contact the team manager.
            </div>

            <div class="team-page-category">
                Team Manager
            </div>


        </div>


    </section>

{% endblock %}