{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <!--Home Page-->
    <div class="container-inline">

        <section id="welcomePage">

            <div class="gear-animation">
                <link rel="stylesheet" href="{% static 'css/gears.css' %}"/>
                <div class="gear"></div>
                <div class="gear2"></div>
            </div>
            <div id="welcome-message">
                <h1>Optimize The World!</h1>
                {#                <h1>The World!</h1>#}
            </div>


        </section>


        <!-- Registration -->
        <section id="registerPage">
            <form method="POST" action="{% url 'index' %}" enctype="multipart/form-data">

                <fieldset>
                    <legend>Authorize</legend>
                    <!-- Form for Registration -->

                    {{ form }}
                    {% csrf_token %}

                    <!-- Button to Create Profile -->
                    <button type="submit" class="register">Enter</button>
                </fieldset>
            </form>
        </section>
    </div>

{% endblock %}