{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}



    <div class="card-box" style="max-width: 30rem;">
        <div class="card-header" style="font-size: 24px; text-align: center">This is the title</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">Category: Automation</h5>
            <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>

            <div class="description-content">
                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </div>
                <div>
                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

                </div>
            </div>
            <div class="task-content" style="text-align: center; font-size: 20px">
                Time Left: 3 hours
            </div>
            <div class="buttons-my-tasks">
                <div class="task-content" style="text-align: center; font-size: 20px; margin-top: 25px; margin-left: 40px">
                    Difficulty: Rank 1
                </div>
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Close Task</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-box" style="max-width: 30rem;">
        <div class="card-header" style="font-size: 24px; text-align: center">This is the title</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">Category: Automation</h5>
            <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>

            <div class="description-content">
                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </div>
                <div>
                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

                </div>
            </div>
            <div class="task-content" style="text-align: center; font-size: 20px">
                Time Left: 3 hours
            </div>
            <div class="buttons-my-tasks">
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Ask For Help</a>
                </div>
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Close Task</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-box" style="max-width: 30rem;">
        <div class="card-header" style="font-size: 24px; text-align: center">This is the title</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">Category: Automation</h5>
            <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>

            <div class="description-content">
                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </div>
                <div>
                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

                </div>
            </div>
            <div class="task-content" style="text-align: center; font-size: 20px">
                Time Left: 3 hours
            </div>
            <div class="buttons-my-tasks">
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Ask For Help</a>
                </div>
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Close Task</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-box" style="max-width: 30rem;">
        <div class="card-header" style="font-size: 24px; text-align: center">This is the title</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">Category: Automation</h5>
            <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>

            <div class="description-content">
                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </div>
                <div>
                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

                </div>
            </div>
            <div class="task-content" style="text-align: center; font-size: 20px">
                Time Left: 3 hours
            </div>
            <div class="buttons-my-tasks">
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Ask For Help</a>
                </div>
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Close Task</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-box" style="max-width: 30rem;">
        <div class="card-header" style="font-size: 24px; text-align: center">This is the title</div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">Category: Automation</h5>
            <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>

            <div class="description-content">
                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </div>
                <div>
                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">

                </div>
            </div>
            <div class="task-content" style="text-align: center; font-size: 20px">
                Time Left: 3 hours
            </div>
            <div class="buttons-my-tasks">
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Ask For Help</a>
                </div>
                <div class="btn-group">
                    <!-- Album Buttons -->
                    <a href="" class="edit">Close Task</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}