{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="team-page-category" style="padding: 20px;"> These tasks are declared closed. Choose if they are
            finished or not:
        </div>

        </div>
        {% if not tasks %}
            <div class="team-page-category"> There are no closed task at that moment!</div>

        {% else %}
            {% for task in tasks %}

                <div class="list-card-box" style="max-width: 80rem;">
                    <div class="task-info">


                        <div class="task-label">Title:</div>
                        <div class="task-content"> {{ task.title }}</div>

                        <div class="task-label">Categories:</div>
                        <div class="task-content">{{ task.category }}</div>

                        <div class="task-label">Difficulty:</div>
                        <div class="task-content">{{ task.difficulty }}</div>

                        <div class="task-label">Added at:</div>
                        <div class="task-content">{{ task.date_added }}</div>

                        <div class="task-label">People involved:</div>
                        <div class="task-content">{{ task.taken_by_names }}</div>


                    </div>
                    <div>
                        {% if task.category == "Automation Engineering" %}
                            <img class="task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">
                        {% elif task.category == "Mechanical Engineering" %}
                            <img class="task-img" src="{% static 'images/eng-2.png' %}" alt="Mechanical Engineering">
                        {% elif task.category == "Electrical Engineering" %}

                            <img class="task-img" src="{% static 'images/546188.jpg' %}" alt="Electrical Engineering">
                        {% elif task.category == "Graphics and Design" %}
                            <img class="task-img"
                                 src="{% static 'images/design-line-graphic-design-graphics-wallpaper-preview.jpg' %}"
                                 alt="Graphics and Design">
                        {% elif task.category == "Operational Technologist" %}
                            <img class="task-img" src="{% static 'images/1880092.jpg' %}"
                                 alt="Operational Technologist">
                        {% endif %}

                    </div>
                    <div class="card-body" style="margin-top: 10px; margin-left: 1px">
                        <div class="task-label" >Description:</div>
                        <div class="task-content">{{ task.description }}</div>

                    </div>
                    <div class="task-navbar">
                        <div class="task-navbar">
                            <div class="btn-group-task2">
                                <a href="{% url 'approve task is finished'  task.pk %}" class="edit">Approve</a>
                            </div>
                            <div class="btn-group-task2">
                                <a href="{% url 'delete a task'  task.pk %}" class="edit">Delete</a>
                            </div>
                            <div class="btn-group-task2">
                                <a href="{% url 'edit a task'  task.pk %}" class="edit">Edit</a>
                            </div>
                        </div>
                    </div>

                </div>

            {% endfor %}
        {% endif %}
    {% else %}
        <div>
            <div class="team-page-category" style="padding: 20px;"> Your active tasks:</div>

        </div>
        {% if not tasks %}
            <div class="team-page-category"> You don't have active tasks at this moment. Choose some!</div>

        {% else %}
            {% for task in tasks %}

                <div class="card-box" style="max-width: 30rem;">
                    <div class="card-header" style="font-size: 24px; text-align: center">Title: {{ task.title }}</div>
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">
                            Category: {{ task.category }}</h5>
                        <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>
                        <div></div>

                        <div class="description-content">
                            <div class="card-text">{{ task.description }}</div>
                            <div>
                                {% if task.category == "Automation Engineering" %}
                                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}"
                                         alt="Automation image">
                                {% elif task.category == "Mechanical Engineering" %}
                                    <img class="my-task-img" src="{% static 'images/eng-2.png' %}"
                                         alt="Mechanical Engineering">
                                {% elif task.category == "Electrical Engineering" %}

                                    <img class="my-task-img" src="{% static 'images/546188.jpg' %}"
                                         alt="Electrical Engineering">
                                {% elif task.category == "Graphics and Design" %}
                                    <img class="my-task-img"
                                         src="{% static 'images/design-line-graphic-design-graphics-wallpaper-preview.jpg' %}"
                                         alt="Graphics and Design">
                                {% elif task.category == "Operational Technologist" %}
                                    <img class="my-task-img" src="{% static 'images/1880092.jpg' %}"
                                         alt="Operational Technologist">
                                {% endif %}
                            </div>
                        </div>
                        <div class="task-content" style="text-align: center; font-size: 20px">Added
                            at: {{ task.date_added }}</div>
                        <div class="buttons-my-tasks">
                            <div class="task-content"
                                 style="text-align: center; font-size: 20px; margin-top: 25px; margin-left: 40px">
                                Difficulty: {{ task.difficulty }}
                            </div>
                            <div class="btn-group">
                                <!-- Album Buttons -->
                                <a href="" class="edit">Close Task</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
    {% endif %}

    {# ___________________________________________________   #}
    {##}
    {#    <div class="card-box" style="max-width: 30rem;">#}
    {#        <div class="card-header" style="font-size: 24px; text-align: center">This is the title</div>#}
    {#        <div class="card-body">#}
    {#            <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">Category: Automation</h5>#}
    {#            <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>#}
    {##}
    {#            <div class="description-content">#}
    {#                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
    {#                    card's#}
    {#                    content. Some quick example text to build on the card title and make up the bulk of the card's#}
    {#                    content.#}
    {#                </div>#}
    {#                <div>#}
    {#                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="task-content" style="text-align: center; font-size: 20px">#}
    {#                Time Left: 3 hours#}
    {#            </div>#}
    {#            <div class="buttons-my-tasks">#}
    {#                <div class="task-content"#}
    {#                     style="text-align: center; font-size: 20px; margin-top: 25px; margin-left: 40px">#}
    {#                    Difficulty: Rank 1#}
    {#                </div>#}
    {#                <div class="btn-group">#}
    {#                    <!-- Album Buttons -->#}
    {#                    <a href="" class="edit">Close Task</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="card-box" style="max-width: 30rem;">#}
    {#        <div class="card-header" style="font-size: 24px; text-align: center">This is the title</div>#}
    {#        <div class="card-body">#}
    {#            <h5 class="card-title" style="font-size: 20px; text-align: center; margin: 5px">Category: Automation</h5>#}
    {#            <div style="font-size: 18px; text-align: center; margin: 5px">Description:</div>#}
    {##}
    {#            <div class="description-content">#}
    {#                <div class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
    {#                    card's#}
    {#                    content. Some quick example text to build on the card title and make up the bulk of the card's#}
    {#                    content.#}
    {#                </div>#}
    {#                <div>#}
    {#                    <img class="my-task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="task-content" style="text-align: center; font-size: 20px">#}
    {#                Time Left: 3 hours#}
    {#            </div>#}
    {#            <div class="buttons-my-tasks">#}
    {#                <div class="task-content"#}
    {#                     style="text-align: center; font-size: 20px; margin-top: 25px; margin-left: 40px">#}
    {#                    Difficulty: Rank 1#}
    {#                </div>#}
    {#                <div class="btn-group">#}
    {#                    <!-- Album Buttons -->#}
    {#                    <a href="" class="edit">Close Task</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {##}
    {# _____________________ closed tasks code ___________________________   #}
    {##}
    {#    <div class="list-card-box" style="max-width: 70rem;">#}
    {#        <div class="task-info">#}
    {##}
    {##}
    {#            <div class="task-label">Title:</div>#}
    {#            <div class="task-content"> Production line design. Production line design.</div>#}
    {##}
    {#            <div class="task-label">Categories:</div>#}
    {#            <div class="task-content">Automation</div>#}
    {##}
    {#            <div class="task-label">Difficulty:</div>#}
    {#            <div class="task-content">5</div>#}
    {##}
    {#            <div class="task-label">Time left:</div>#}
    {#            <div class="task-content">3 hours</div>#}
    {##}
    {#            <div class="task-label">People involved:</div>#}
    {#            <div class="task-content">Plamen Ivanov</div>#}
    {##}
    {##}
    {#        </div>#}
    {#        <div>#}
    {#            <img class="task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">#}
    {##}
    {#        </div>#}
    {#        <div class="card-body">#}
    {#            <div class="task-label">Description:</div>#}
    {#            <div class="task-content">Some quick example text to build on the card title and make up the bulk of the#}
    {#                card's#}
    {#                content. Some quick example text to build on the card title and make up the bulk of the card's content.#}
    {#                Some quick example text to build on the card title and make up the bulk of the card's content.#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#        <div class="task-navbar">#}
    {#            <div class="task-navbar">#}
    {#                <div class="btn-group-task ">#}
    {#                    <!-- Album Buttons -->#}
    {#                    <a href="" class="edit">Get The Task</a>#}
    {#                </div>#}
    {#                <div>If admin:</div>#}
    {#                <div class="btn-group-task">#}
    {#                    <a href="" class="edit">Delete The Task</a>#}
    {#                </div>#}
    {#                <div class="btn-group-task">#}
    {#                    <a href="" class="edit">Edit The Task</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#    </div>#}
    {##}
    {#    <div class="list-card-box" style="max-width: 70rem;">#}
    {#        <div class="task-info">#}
    {##}
    {##}
    {#            <div class="task-label">Title:</div>#}
    {#            <div class="task-content"> Production line design. Production line design.</div>#}
    {##}
    {#            <div class="task-label">Categories:</div>#}
    {#            <div class="task-content">Automation</div>#}
    {##}
    {#            <div class="task-label">Difficulty:</div>#}
    {#            <div class="task-content">5</div>#}
    {##}
    {#            <div class="task-label">Time left:</div>#}
    {#            <div class="task-content">3 hours</div>#}
    {##}
    {#            <div class="task-label">People involved:</div>#}
    {#            <div class="task-content">Plamen Ivanov</div>#}
    {##}
    {##}
    {#        </div>#}
    {#        <div>#}
    {#            <img class="task-img" src="{% static 'images/wp3610487.jpg' %}" alt="Automation image">#}
    {##}
    {#        </div>#}
    {#        <div class="card-body">#}
    {#            <div class="task-label">Description:</div>#}
    {#            <div class="task-content">Some quick example text to build on the card title and make up the bulk of the#}
    {#                card's#}
    {#                content. Some quick example text to build on the card title and make up the bulk of the card's content.#}
    {#                Some quick example text to build on the card title and make up the bulk of the card's content.#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#        <div class="task-navbar">#}
    {#            <div class="task-navbar">#}
    {#                <div class="btn-group-task ">#}
    {#                    <!-- Album Buttons -->#}
    {#                    <a href="" class="edit">Get The Task</a>#}
    {#                </div>#}
    {#                <div>If admin:</div>#}
    {#                <div class="btn-group-task">#}
    {#                    <a href="" class="edit">Delete The Task</a>#}
    {#                </div>#}
    {#                <div class="btn-group-task">#}
    {#                    <a href="" class="edit">Edit The Task</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#    </div>#}


{% endblock %}